<div class="row">
	<div class="personSearch">
			<label class="control-label">Personalsökning</label>
				<input type="text"
				id="search"
				ng-model="selectedPerson"
				placeholder="fyll i namn"
				typeahead="person as person.name.firstname + ' ' + person.name.lastname for person in getPersons($viewValue)"
				typeahead-loading="isLoading"
				typeahead-wait-ms="200"
				typeahead-on-select="addPerson($item); selectedPerson = ''" 
				typeahead-no-results="noResults"
				class="form-control">
			<i class="fa fa-spinner fa-pulse form-control-feedback" ng-show="isLoading"></i>
	</div>
</div>