.selector-item {
	$color: lighten(grey, 20%);
	$size: 8em;
	
	position: relative;
	display: inline-block;
	width: $size;
	height: $size;
	vertical-align: top;

	p {
		overflow: hidden;
	}

	&:hover {
		a {
			display: inline-block;
		}
	}

	i {
		display: block;
	}

	a {
		display: none;
		position: absolute;
		top: -1.3em;
		right: -0.3em;
		text-decoration: none;
		color: darken(red, 10%);
		background-color: transparent;

		&:hover {
			color: red;
		}

		&:active {
			color: red;
			@include transform(scale(0.9));
		}
	}

	span {
		img {
			width: $size - 3em;
			margin: 0.5em;
			height: auto;
			border-radius: 1em;
		}
	}
}