.selector-item {
	$color: lighten(grey, 20%);
	$selectorSize: 70px;
	$badgeSize: $selectorSize/2;
	
	position: relative;
	display: inline-block;
	width: $selectorSize;
	height: $selectorSize;
	border: solid 3px $color;
	border-radius: 5px;
	color: $color;
	margin: 0 1em;

	&:hover {
		span {
			display: inline-block;
		}
	}

	span {
		display: none;
		position: absolute;
		top: 0 - $badgeSize/2;
		right: 0 - $badgeSize/2;
		@extend .text-center;
		border-radius: $badgeSize;
		border: solid thin;
	}
}