.selector-item {
	$color: lighten(grey, 20%);
	
	position: relative;
	display: inline-block;
	margin: 0 1em;

	p {
		overflow: hidden;
	}

	&:hover {
		a {
			display: inline-block;
		}
	}

	i {
		display: block;
	}

	a {
		display: none;
		position: absolute;
		top: -0.5em;
		right: -0.5em;
		text-decoration: none;
		color: darken(red, 10%);
		background-color: white;

		&:hover {
			color: red;
		}

		&:active {
			color: red;
			@include transform(scale(0.9));
		}
	}
}

.item {
}